<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moments.goods.GoodsMapper">  

	<insert id="goodsInsert" parameterType="kr.co.moments.domain.GoodsVO">
	   insert into tb_goods (
	      goods_id, goods_name, goods_image, category_no, wish_cnt
	   ) values (
	      #{goods_id}, #{goods_name}, #{goods_image}, #{category_no}, 0
	   );
	</insert>
   
	<insert id="dailyPriceInsert" parameterType="kr.co.moments.domain.DailyPriceVO">
	   insert into tb_daily_price (
	      goods_id, register_date, price
	   ) values (
	      #{goods_id}, now(), #{price}
	   );
	</insert>

   <select id="selectAllGoods" resultType="kr.co.moments.domain.GoodsVO">
       SELECT goods_name, goods_image, category_no
       FROM tb_goods
   </select>
   
   <select id="selectGoodsByCategory" parameterType="int" resultType="kr.co.moments.domain.GoodsVO">
	    SELECT g.goods_id, g.goods_name, g.goods_image, g.category_no, p.price
	    FROM tb_goods g
	    JOIN tb_daily_price p ON g.goods_id = p.goods_id
	    WHERE g.category_no = #{category_no}
	</select>

</mapper>
