<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moments.main.MainMapper">   


   <select id="selectAllGoods" resultType="kr.co.moments.domain.GoodsVO">
        SELECT 
            g.goods_id,
            g.goods_name, 
            g.goods_image, 
            g.category_no,
            g.drop_rate,
            dp.price
        FROM tb_goods g
        JOIN (
            SELECT dp.goods_id, dp.price
            FROM tb_daily_price dp
            WHERE (dp.goods_id, dp.register_date) IN (
                SELECT goods_id, MAX(register_date)
                FROM tb_daily_price
                GROUP BY goods_id
            )
        ) dp ON g.goods_id = dp.goods_id
    </select> 

    <select id="selectGoodsByCategory" parameterType="int" resultType="kr.co.moments.domain.GoodsVO">
        SELECT 
            g.goods_id, 
            g.goods_name, 
            g.goods_image, 
            g.category_no, 
            g.drop_rate,
            p.price
        FROM tb_goods g
        JOIN tb_daily_price p ON g.goods_id = p.goods_id
        WHERE g.category_no = #{category_no}
    </select> 
   
    <!-- 가격 정렬순 2가지 -->
    <select id="selectGoodsPriceAsc" resultType="kr.co.moments.domain.GoodsVO">
        SELECT g.goods_id, g.goods_name, g.goods_image, g.category_no, g.drop_rate, dp.price
        FROM tb_goods g
        JOIN (
            SELECT dp.goods_id, dp.price
            FROM tb_daily_price dp
            WHERE (dp.goods_id, dp.register_date) IN (
                SELECT goods_id, MAX(register_date)
                FROM tb_daily_price
                GROUP BY goods_id
            )
        ) dp ON g.goods_id = dp.goods_id
        ORDER BY dp.price ASC
        LIMIT 8
    </select>
    
        <select id="selectGoodsPriceDesc" resultType="kr.co.moments.domain.GoodsVO">
        SELECT g.goods_id, g.goods_name, g.goods_image, g.category_no, g.drop_rate, dp.price
        FROM tb_goods g
        JOIN (
            SELECT dp.goods_id, dp.price
            FROM tb_daily_price dp
            WHERE (dp.goods_id, dp.register_date) IN (
                SELECT goods_id, MAX(register_date)
                FROM tb_daily_price
                GROUP BY goods_id
            )
        ) dp ON g.goods_id = dp.goods_id
        ORDER BY dp.price DESC
        LIMIT 8
    </select>
    
    
	<!-- 2025.06.22 급락순 정렬 도전 10번째 -->
	
	<select id="selectGoodsDropDesc" resultType="kr.co.moments.domain.GoodsVO">
	    SELECT 
	        g.goods_id,
	        g.goods_name,
	        g.goods_image,
	        g.category_no,
	        g.drop_rate,
	        dp.price
	    FROM tb_goods g
	    JOIN (
	        SELECT dp.goods_id, dp.price
	        FROM tb_daily_price dp
	        WHERE (dp.goods_id, dp.register_date) IN (
	            SELECT goods_id, MAX(register_date)
	            FROM tb_daily_price
	            GROUP BY goods_id
	        )
	    ) dp ON g.goods_id = dp.goods_id
	    ORDER BY g.drop_rate DESC
	    LIMIT 8
	</select>
    
	<!-- 위시순 정렬 -->
	<select id="selectGoodsWishDesc" resultType="kr.co.moments.domain.GoodsVO">
	    SELECT 
	        g.goods_id,
	        g.goods_name,
	        g.goods_image,
	        g.category_no,
	        g.drop_rate,
	        dp.price,
	        g.wish_cnt
	    FROM tb_goods g
	    JOIN (
	        SELECT dp.goods_id, dp.price
	        FROM tb_daily_price dp
	        WHERE (dp.goods_id, dp.register_date) IN (
	            SELECT goods_id, MAX(register_date)
	            FROM tb_daily_price
	            GROUP BY goods_id
	        )
	    ) dp ON g.goods_id = dp.goods_id
	    ORDER BY g.wish_cnt DESC
	    LIMIT 8
	</select>
	
	
	<!-- 낮은 가격순 정렬 -->
	<select id="selectGoodsByCategoryOrderByPriceAsc" parameterType="int" resultType="kr.co.moments.domain.GoodsVO">
	    SELECT 
	        g.goods_id,
	        g.goods_name,
	        g.goods_image,
	        g.category_no,
	        g.drop_rate,
	        p.price
	    FROM tb_goods g
	    JOIN tb_daily_price p ON g.goods_id = p.goods_id
	    WHERE g.category_no = #{category_no}
	    ORDER BY p.price ASC
	</select>
	
	<!-- 높은 가격순 정렬 -->
	<select id="selectGoodsByCategoryOrderByPriceDesc" parameterType="int" resultType="kr.co.moments.domain.GoodsVO">
	    SELECT 
	        g.goods_id,
	        g.goods_name,
	        g.goods_image,
	        g.category_no,
	        g.drop_rate,
	        p.price
	    FROM tb_goods g
	    JOIN tb_daily_price p ON g.goods_id = p.goods_id
	    WHERE g.category_no = #{category_no}
	    ORDER BY p.price DESC
	</select>
	
	
	<!-- 위시순 + 가격 포함 -->
	<select id="selectGoodsByCategoryOrderByWishCountDesc" parameterType="int" resultType="kr.co.moments.domain.GoodsVO">
	    SELECT 
	        g.goods_id,
	        g.goods_name,
	        g.goods_image,
	        g.category_no,
	        g.drop_rate,
	        g.wish_cnt,
	        p.price
	    FROM tb_goods g
	    JOIN tb_daily_price p ON g.goods_id = p.goods_id
	    WHERE g.category_no = #{category_no}
	    ORDER BY g.wish_cnt DESC
	</select>
</mapper>