@charset "UTF-8";
/* header */
.moments_logo { 
    height: 40px;
}
.icon-img {
    height: 20px; 
    vertical-align: middle;
}
#intro-moments{
   font-family: 'Kodchasan';
   font-style: normal;
   color: #536FA3;
   font-weight: 600;
}
/* main */
.main{
    margin-top: 50px;
    text-align: center;
}
.input-box{
    /* width: 541px;
    height: 46px; */

    width: 700px;
    height: 60px; 
    border-radius: 24px;
    border: 1px solid #dfe1dfe5;
    padding-left: 45px;
    padding-right: 45px;
}
.search-icon{
    position: relative;
    left: 40px;
    color: #9aa0a6;
}
.category-button-style{
    height: 36px;
    border: 1px solid #f8f9fa;
    background-color: #F5E6D5;
    border-radius: 4px;
    font-family: arial,sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
}
.category-button-style:hover{
    box-shadow: 0 1px 1px rgb(0, 0, 0/10%);
    background-color: #F49222;
    border: 1px solid #dadce0;
    color: #202124;
}
.category-button-area {
    justify-content: space-around;
}
.card{
   text-decoration: none;
}
/* footer */
footer{
    background-color: #F49222;
    color: white;
}
.first-line{
    border-bottom: 1px solid #BDBDBD;
}
.second-line{
    display: none;
}