<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moments.users.UsersMapper">   
	<insert id="userInsert" parameterType="kr.co.moments.domain.UsersVO">
		insert into tb_users (
			 users_email, users_pwd, users_name, users_phone, users_salt
		) values (
			#{users_email}, #{users_pwd}, #{users_name}, #{users_phone}, #{users_salt}
		);
	</insert>
	<select id="userSelect" resultType="kr.co.moments.domain.UsersVO" parameterType="String" >
		select *
		from tb_users
		where users_email = #{users_email};
	</select>
</mapper>